aniso8601
click
Flask
Flask-RESTful
Flask-SQLAlchemy
itsdangerous
Jinja2
MarkupSafe
pytz
six
SQLAlchemy
Werkzeug
marshmallow
flask_smorest
python-dotenv
marshmallow-SQLAlchemy
flask-marshmallow
bs4
urllib3
requests
psycopg2
flask_swagger_ui 
jwt
bcrypt